.navbar {
    display: flex;
    align-items: center;
}

.tab {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #65bfff;
    color: #fffafa;
    border-radius: 0 0 8px 8px;
    padding: 10px 47.1px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    top: -10px;
}

.tab a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.tab:hover {
    background-color: #d1d1d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 46px;
}

.tab.active {
    background-color: #d1d1d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 46px;
}

